<div class="container">
    <div class="row align-items-center">

        <div class="col-md-8 col-md-offset-3">


            <ng-container
                *ngTemplateOutlet="this.stage== 0  ? pickUserBlock : (this.stage == 1 ? pickFlightBlock : registerBagBlock)">
            </ng-container>

        </div>
    </div>
</div>
<ng-template #pickUserBlock>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <!-- <th>UUID</th> -->
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users_list">
                    <!-- <td>{{worker.id}}</td> -->
                    <td>{{user.username}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <div className="container">


                            <div className="d-grid gap-2 col-6 mx-auto">
                                <button type="button" class="btn btn-secondary" (click)="checkUser(user.id)">
                                    Checkear
                                </button>
                            </div>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>


<ng-template #pickFlightBlock>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <!-- <th>UUID</th> -->
                    <th>No. Vuelo</th>
                    <th>Comentario</th>
                    <th>Paradas</th>
                    <th>Escoger segmento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let flight of userFlights">
                    <!-- <td>{{worker.id}}</td> -->
                    <td>{{flight.flight.no}}</td>
                    <td>{{flight.flight.comment}}</td>
                    <td>
                        <div *ngFor="let route of flight.route">{{route.code}}</div>
                    </td>
                    <td>
                        <div className="container">



                            <div className="d-grid gap-2 col-6 mx-auto">

                                <button type="button" class="btn btn-secondary"
                                    (click)="checkFlight(flight.flight.id, flight.flight.no)">
                                    Seleccionar
                                </button>
                            </div>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>


<ng-template #registerBagBlock>
    <h3>Registrar nueva maleta</h3>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="mb-3 form-group">
            <label>Peso</label>
            <input type="text" formControlName="peso" class="form-control">
        </div>

        <div class="mb-3 form-group">
            <label>Color</label>
            <input class="form-control" [value]="color" [(colorPicker)]="color" [style.background]="color"
                (colorPickerChange)="color" />
        </div>

        <ng-container *ngIf="this.message">
            <p>
                {{this.message}}
            </p>
        </ng-container>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>

</ng-template>