<div class="container">
    <div class="row mb-3">
        <h3>Búsqueda de Vuelos</h3>
    </div>
    <div class="row mb-3">
        <div class="col mb-4">
            <label for="Aeropuerto de Origen">Aeropuerto de Origen</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Seleccione el aeropuerto</option>
                <option value="1">Aeropuerto Juan Santamaría</option>
                <option value="2">Aeropuerto Libertad de Newark</option>
                <option value="3">Aeropuerto de Pekín-Capital</option>
            </select>
        </div>
        <div class="col mb-4">
            <label for="Aeropuerto de Llegada">Aeropuerto de Llegada</label>
            <select class="form-select" aria-label="Default select example">
            <option selected>Seleccione el aeropuerto</option>
            <option value="1">Aeropuerto Juan Santamaría</option>
            <option value="2">Aeropuerto Libertad de Newark</option>
            <option value="3">Aeropuerto de Pekín-Capital</option>
        </select>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <button type="search" class="btn btn-primary">Buscar</button>
        </div>
    </div>
</div>
