<div class="container">
    <div class="row mb-3">
        <h3>Búsqueda de Vuelos</h3>
    </div>
    <div class="row mb-3">
        <div class="col mb-4">
            <label for="Aeropuerto de Origen">Aeropuerto de Origen</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Seleccione el aeropuerto</option>
                <option value="1">Aeropuerto Juan Santamaría</option>
                <option value="2">Aeropuerto Libertad de Newark</option>
                <option value="3">Aeropuerto de Pekín-Capital</option>
            </select>
        </div>
        <div class="col mb-4">
            <label for="Aeropuerto de Llegada">Aeropuerto de Llegada</label>
            <select class="form-select" aria-label="Default select example">
            <option selected>Seleccione el aeropuerto</option>
            <option value="1">Aeropuerto Juan Santamaría</option>
            <option value="2">Aeropuerto Libertad de Newark</option>
            <option value="3">Aeropuerto de Pekín-Capital</option>
        </select>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <button type="search" class="btn btn-primary" (click)="onSearch()">Buscar</button>
        </div>
        <div class="col-md-4">
            <ng-container *ngIf="this.message">
                <p>
                    {{this.message}}
                </p>
            </ng-container>
        </div>
    </div>
    <div class="row md-6">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Avión</th>
                        <th>Fecha</th>
                        <th>Hora de Salida</th>
                        <th>Hora de Llegada</th>
                        <th>ID de vuelo</th>
                        <th>Disponibilidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let flight of flights_list" >
                        <td>{{flight.aeropuerto_origen}}</td>
                        <td>{{flight.aeropuerto_llegada}}</td>
                        <td>{{flight.avion}}</td>
                        <td>{{flight.fecha}}</td>
                        <td>{{flight.hora_salida}}</td>
                        <td>{{flight.hora_llegada}}</td>
                        <td>{{flight.flight_id}}</td>
                        <td>{{flight.disponibilidad}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 
</div>
